<!-- <div style="width:57%; padding-right: 5%; float:left;">
          <legend style="font-size:18px"><b>Genotype:</b> If a variant >= 20bp exists at this site, select the genotype for this variant:</legend>
              <div class="form-check">
                <label class="form-check-label">{{ field.label.text }}</label>
                {% for subfield in form.radios %}
                <div class="radio">
                  <label>
                    {{ subfield }}
                    {{ subfield.label.text }}
                  </label>
                </div>
                {% endfor %}
    </div>

    <div style="width:57%; padding-right: 5%; float:left;">   
        <legend style="font-size:18px"><b>Genotype Confidence:</b> Note confidence in the selected genotype:</legend>
              <div class="form-check">
                <label class="form-check-label">{{ field.label.text }}</label>
                {% for subfield in form.radios %}
                <div class="radio">
                  <label>
                    {{ subfield }}
                    {{ subfield.label.text }}
                  </label>
                </div>
                {% endfor %}
    </div>


<div style="float:left; width:50%; padding-left:2.5%; height:250px;">
<legend style="font-size:18px"><b>Breakpoint and Size Accuracy:</b></legend>
              <div class="form-check">
                <label class="form-check-label">{{ field.label.text }}</label>
                {% for subfield in form.radios %}
                <div class="radio">
                  <label>
                    {{ subfield }}
                    {{ subfield.label.text }}
                  </label>
                </div>
                {% endfor %}
  </div> -->